/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Rancho|Roboto);

/* reset */
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, h5, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  position: relative;
  width: auto;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* all */

body {
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
}

a, button:hover {
  cursor: pointer;
}

/* login specific */
.logged-out {
  background: image-url("rocky.jpg") no-repeat center center fixed;
  background-size: cover;

}

.logged-in {
  background-image: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.top {
  margin-top: 0px;
}

.bottom {
  margin-bottom: 0px;
}

.bottom-right-button {
  margin: auto 20px 20px auto;
}

.top-right-over {
  position: absolute;
  right: 0;
  z-index: 5;
}

.three-thirds {
  width: 1200px;
}

.two-thirds-left {
  width: 780px;
  margin-right: 20px;
}

.one-third {
  width: 400px;
}

/* main */
.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  width: 100%;
  font-size: 30px;
  margin: auto 0;
  height: 50px;
  line-height: 50px;
  padding: 10px 0;

  h1 {
    float: left;
    display: block;
  }

  .button {
    width:auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.text-link:hover {
  text-decoration: underline;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms  ease-in;
}


.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms  ease-in;
}

.example-appear {
  opacity: 0.01;
}


.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.button {
  border: 1px solid #a5a5a5;
  font-size: 16px;
  padding: 10px;
  transition:.5s;
  display: block;
  text-align: center;
  background-color: #FFF;
  color: #000;
  line-height: 16px;
}

.button-page-actions {
  border-bottom: 0;
}

.button:hover {
  background-color: #277455;
  color: white;
}

.button-invert-color {
  background-color: #277455;
  color: white;
}

.button-invert-color:hover {
  background-color: #FFF;
  color: #000;
}

.form-button {
  margin-top: 0px;
  float: right;
}

.symbol-button {
  font-size:26px;
}

.form-error-list {
  width: 260px;
  padding: 10px;
  font-size: 14px;
  margin: 0px;
  border: 0;

  li {
    color: red;
  }
}

.form {
  background-color: #f5f5f5;

  .form-row {
    // height: 60px;
    display: block;
    padding-left: 0px;

    > * {
      display: block;
      float: left;
    }
  }

  input, a, textarea, select {
    padding: 4px;
    margin: 10px;
    display: block;
    background-color: white;
    border: 1px solid #a5a5a5;
    line-height: 30px;
    font-size: 16px;
  }

  select {
    padding: 8px;
  }

  label {
    padding-top: 21px;
  }

  input[type=number] {
    width: 40px;
  }

  textarea {
    width: 300px;
    height: 100px;
  }

  // .activity-form-duration {
  //   * {
  //     display: block;
  //     float: left;
  //     margin: 0px;
  //   }
  // }
}

.small-grey-text {
  font-size: 12px !important;
  color: #a5a5a5 !important;
}
