/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Rancho);

/* reset */
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  position: relative;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* all */

/*TODO: move to scss to include background image */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* login specific */
.logged-out {
  background-image: image-url("rocky.jpg");
}

/* header */
.header {
  background-color: #FFF;
  border-top: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  a {
    display: block;
    height: 53px;
    padding: 0 10px;
    line-height: 53px;
    font-size: 14px;
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-bottom: 2px white solid;
    color: #666;
    transition: 0.5s;


    .active {
      border-bottom: 2px #277455 solid;
    }
  }

  a:hover {
    border-left: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
    color: #277455;
    border-bottom: 2px #277455 solid;
  }
}
.user-avatar-outside-padding {
  height: 40px !important;
  padding-top: 6.5px !important;
  padding-bottom: 6.5px !important;
}

.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  overflow: hidden;

  img {
    height: 40px;
    width: 40px;
    object-fit: cover;
  }
}

.header-nav {
  width: 90%;
  margin: 0 auto;
}

.header-logo {
  display: block;
  float: left;

  a {
    font-family: 'Rancho', cursive;
    font-size: 28px;
    font-weight: bold;
  }
}

.right-nav-list {
  display: block;
  float: right;

  li {
    display: block;
    float: left;
  }
}

/* main */
.content {
  width: 90%;
  margin: 0 auto;
}

.page-header {
  width: 200px;
  font-size: 30px;
  padding: 30px 0;
  margin: 0 0 ;
}

/* session forms */
.session-form {
  width: 300px;
  margin: 200px auto;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 3px;

  h2 {
    text-align: center;
  }

  > * {
    margin: auto;
  }

  .form-row {
    > * {
      width: 260px;
      padding: 10px;
      border: 1px solid #a5a5a5;
      margin: 8px;
      background-color: #000;
      color: #FFF;
    }

    button {
      background-color: #277455;
      border-radius: 3px;
      border: none;
      color: white;
      text-align: center;
      margin-top: 40px;

    }

    button:hover {
      background-color: #0F573A;
    }
  }
}


.user {
  display: block;
  float: left;
  padding: 20px;

  > *{
    margin-right: 20px;
    display: block;
    float: left;
  }

  > :last-child {
    margin-right: 0;
  }
}

.user-avatar-large {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;

  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}

.user-detail {
  width: 400px;
  display: block;
  float: left;

  > * {
    margin: 10px;
  }

  h3 {
    display:inline;
    margin-bottom: 20px;
    font-size: 25px;
  }
}

.user-avatar-large {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;

  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}

.form {
  background-color: #f5f5f5;
}

.user-form {
  width: 400px;
  display: block;
  float: left;
  font-size: 12px;

  input, a, textarea {
    padding: 4px;
    margin: 10px;
    display: block;
    background-color: white;
    border: 1px solid #a5a5a5;
  }

  .user-form-names > input {
    float: left;
    width: 170px;
  }

  > textarea {
    width: 380px;
    height: 100px;
  }

  > :first-child {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.button {
  border: 1px #e5e5e5 solid;
  padding: 10px;
  transition:.5s;

}

.button:hover {
  background-color: #277455;
  color: white;
}

.form-button {
  float: right;
}

.form-error-list {
  width: 260px;
  padding: 10px;
  font-size: 10px;
  margin: 0px;
  border: 0;

  li {
    color: red;
  }
}
