<!DOCTYPE html>
<html>
  <head>
    <title>Trakr</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Google Maps -->
  <script
    type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL_NuEJQOvYtPxbTALLDl_sku6ZioowKQ&libraries=geometry">
  </script>

  </head>
  <body class="logged-out">
    <%= yield %>
  </body>
</html>
