<!DOCTYPE html>
<html>
  <head>
    <title>Trakr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL_NuEJQOvYtPxbTALLDl_sku6ZioowKQ"></script>
  </head>

  <body class="logged-out">
    <%= yield %>
  </body>
</html>
